{% extends "layout.html" %}

{% block title %}Pose&amp;Rank Links{% endblock %}

{% block body %}
<h1>Links </h1>

<ul>

<li><a href="http://integrativemodeling.org/"> IMP </a> - Integrative Modeling Platform for comprehensive structural characterization of biomolecules. PoseScore and RankScore are implemented by the
<a href="http://integrativemodeling.org/2.2.1/doc/html/impligand_score.html">ligand_score application</a> in IMP.</li>

<li><a href="http://salilab.org/modweb/"> ModWeb </a> - a server for protein structure modeling.</li>

<li><a href="http://www.gromacs.org/"> Gromacs </a> - a versatile package to perform molecular dynamics, providing extremely high performance compared to all other programs.</li>

<li><a href="http://bioinfo3d.cs.tau.ac.il/PatchDock/index.html"> PatchDock </a> - a server for rigid-body protein-protein docking.</li>

<li><a href="http://blaster.docking.org/"> DOCK Blaster </a> - a free service for running docking screens.</li>

<li><a href="http://zinc.docking.org/"> ZINC </a> - a free database of commercially-available compounds for virtual screening, containing over 14 million purchasable compounds in 3D formats.</li>

<li><a href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE=Proteins/"> BLASTp </a> - a free service for protein search.</li>

<li><a href="http://www.pymol.org/">PyMOL</a> - a molecular visualization system on an open-source foundation.</li>

</ul>
{% endblock %}
